* {
    margin: 0.5em;
    padding: 0.5em;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #222222;
    color: #fff;
}

.header-container {
    display: flex;
    background-color: #000;
    align-items: center;
    /* alinha verticalmente */
    margin-top: 2.5em;
    border-bottom: 2px solid blue;
    gap: 20px;
    /* espaço entre o texto e a imagem */
    margin-bottom: 2.5em;
    width: 100%;
}

/* Barra de Navegação */
nav {
    background-color: #222222;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0;
}

nav a {
    color: rgb(255, 242, 0);
    text-decoration: none;
    padding: 1em 3em;
    display: block;
    font-weight: bold;
    font-size: 1.25em;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #051d87;
}

.welcome-text {
    flex: 1;
}

.welcome-text p {
    font-size: 1.25em;

    text-align: center;
}

.welcome-image {
    flex: 2;
    text-align: center;
}

.image img {
    max-width: 100%;
    margin: 1.875em 0;
    height: auto;
    border-radius: 0.5em;
}

.section {
    display: flex;
    align-items: center;

    margin-left: 1.25em 3.125em;
    margin-right: 1.25em 3.125em;
    flex-direction: row-reverse;
}

.image_esquerda {
    flex: 0 0 70%;
    text-align: center;
    /* Alinha a imagem à direita */
}

.image_esquerda img {
    max-width: 50%;
}

.content_direita {
    max-width: 100%;
    flex: 1;
}

/* Estilo para o título */
.content_direita h2 {
    text-align: center;
    color: red;
}

.content_direita p {
    text-align: justify;
    line-height: 1.5;
    color: #ccc;
}

ol {
    margin-left: 2.5em;
    color: #ccc;
}

.table-section {
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: justify;
    margin: 1.5em 0;
}

button {
    height: 3em;
}

.video {
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: blue;
}

iframe {
    display: inline-block;
    flex-direction: column-reverse;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

input[type='text'],
input[type='email'],
button {
    width: 100%;
    max-width: 640px;
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    max-width: 640px;
    font-size: 16px;
    box-sizing: border-box;
}

footer {
    color: rgb(255, 242, 0);
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
}

/* Responsividade - em telas pequenas empilha os elementos */
@media (max-width: 768px) {
    .header-container {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    nav ul {
        display: none;
        align-items: center;
        color: #222222;
        justify-content: center;
    }

    .section {
        flex-direction: column;
    }

    .image_esquerda {
        flex: 0 0 auto;
        width: 100%;
        text-align: center;
    }
}
